header{
    background: var(--navBackground);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav{
    background: var(--navBackground);
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    /* display: none; */
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 300ms ease-in-out;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover{
    color: whitesmoke;
}

.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label::before,
.nav-toggle-label::after{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label::before,
.nav-toggle-label::after{
    content: '';
    position: absolute;
}

.nav-toggle-label::before{
    bottom: 32px;
}

.nav-toggle-label::after{
    top: 32px;
}

@media screen and (min-width: 1000px){
    .nav-toggle-label{
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo{
        grid-column: 2 / span 1;
    }

    nav{
        all: unset;
        grid-column: 3 / span 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav li{
        margin-block: 0;
        margin-inline: 1.5em;
    }

    nav ul{
        display: flex;
        justify-content: flex-end;
        border: 10px black;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before{
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -0.75em;
        inset-inline: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before{
        transform: scale(1,1);
    }
}