<div class="main-container">
    <p>Welcome to my first Angular application!<br><br> Please keep in mind this application is in active development. As such, many features may be working incorrectly or not yet 
      implemented. All graphics and styling are placeholders, and as such are subject to change.<br><br>I am currently working on the <a routerLink="connectFour">connect four</a> 
      section of the application. The intended order of tasks is as follows:</p>
      <ol>
        <li>Connect the project to C#, potentially using a MVC</li>
        <li>Alter the connect-four-component.ts dropDisc method to assign the dropped disc to an array when a slot is clicked</li>
        <li>Update the CSS of the discs based on the array</li>
        <li>Pass the array to the C# model to check for the win condition</li>
        <li>Display a popup and lock the game if there has been a win</li>
        <li>Create a button that allows for a new game to be played</li>
      </ol>
  </div>